<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <img class="navbar-brand img-responsive" src="https://cdn4.iconfinder.com/data/icons/business-bicolor-2/512/stock_market-512.png">
      <a class="navbar-brand" ui-sref="app">
        Fideligard Historical Portfolio Simulator
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" dropdown is-open="status.isopen">
        <a role="button" class="dropdown-toggle" dropdown-toggle>
          Simulator <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="simulator">
          <li role="menuitem"><a ui-sref = "app.simulator.portfolio">Portfolio</a></li>
          <li role="menuitem"><a ui-sref = "app.simulator.trade">Trade</a></li>
          <li role="menuitem"><a ui-sref = "app.simulator.transactions">Transactions</a></li>
          <li class="divider"></li>
          <li role="menuitem"><a ui-sref = "app.simulator">Simulator</a></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>



