<table class = "table table-hover">
  <thead>
    <th>
      <a href="">Symbol</a>
    </th>
    <th>
      <a href="">Price</a>
    </th>
    <th>
      <a href="">1d</a>
    </th>
    <th>
      <a href="">7d</a>
    </th>
    <th>
      <a href="">30d</a>
    </th>
    <th>
      <a href="">Trade</a>
    </th>
  </thead>
  <tbody>

    <tr stock-row ng-repeat="stock in stocks" stock="stock"
        one-day="priceChangeNDays(1, stock)"
        one-week="priceChangeNDays(5, stock)"
        one-month="priceChangeNDays(22, stock)" >
    </tr>

  </tbody>

</table>