<div class="row">

  <div class="col-xs-6">
    <h2>Trade</h2>
  </div>

  <div class="col-xs-6">
    <select class="form-control">
      <option value="">Trade</option>
      <option value="">Portfolio</option>
    </select>
  </div>

</div>

<div class="row">

  <div class="col-xs-6">
    <form role = "form" class = "form-horizontal">

      <div class="form-group">
        <label for = "symbol" class="col-sm-5 control-label">Symbol</label>
        <div class="col-sm-7">
          <input type="text" name = "symbol" placeholder = "AAPL" ng-model = "symbol" class = "form-control">
        </div>
      </div>

      <div class="form-group">
        <label for = "transaction" class="col-sm-5 control-label">Buy / Sell</label>
        <div class="col-sm-7">
          <select name = "transaction" ng-model = "transaction" class = "form-control">
            <option value="buy" selected>Buy</option>
            <option value="sell">Sell</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for = "quantity" class="col-sm-5 control-label">Quantity</label>
        <div class="col-sm-7">
          <input type="text" name = "quantity" placeholder = "100" ng-model = "quantity" class = "form-control">
        </div>
      </div>

      <div class="form-group">
        <label for = "date" class="col-sm-5 control-label">Date</label>
        <div class="col-sm-7">
          <input type="date" name = "date" placeholder = "100" ng-model = "date" class = "form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Price</label>
        <div class="col-sm-7">
          <p>{{ stock.price | currency }}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-5 control-label">Total</label>
        <div class="col-sm-7">
          <p>{{ stock.price * quantity | currency }}</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-10 col-xs-offset-1">
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Place Order!">
        </div>
      </div>

    </form>
  </div>

  <div class="col-xs-6">
    <p><b>Cash Available:</b></p>
    <p>{{ bank | currency }}</p>

    <p><b>Order Status:</b></p>
    <p>Valid</p>
  </div>

</div>

