<div class="row">

  <div class="col-xs-6">
    <h2>Transactions</h2>
  </div>

  <div class="col-xs-6">
    <label for="tfilter">Filter</label>
    <input type="text" ng-model = "tfilter" name="tfilter" class="form-control">
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    <table class = "table table-hover">
      <thead>
        <th>
          <a ng-click = "selectSort('date')">Date</a>
          <span class="sortorder" ng-show="sortQuery === 'date'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a ng-click = "selectSort('symbol')">Symbol</a>
          <span class="sortorder" ng-show="sortQuery === 'symbol'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a ng-click = "selectSort('type')">Type</a>
          <span class="sortorder" ng-show="sortQuery === 'type'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a ng-click = "selectSort('quantity')">Quantity</a>
          <span class="sortorder" ng-show="sortQuery === 'quantity'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a ng-click = "selectSort('price')">Price</a>
          <span class="sortorder" ng-show="sortQuery === 'price'" ng-class="{reverse:reverse}"></span>
        </th>
        <th>
          <a ng-click = "selectSort('total')">Total</a>
          <span class="sortorder" ng-show="sortQuery === 'total'" ng-class="{reverse:reverse}"></span>
        </th>
      </thead>
      <tbody>
        <tr transaction-row
            transaction = "transaction"
            ng-repeat = "transaction in transactions | filter: tfilter | orderBy: sortQuery : reverse">
        </tr>
      </tbody>
    </table>
  </div>

</div>