<div class="row">

  <div class="col-xs-6">
    <h2>Transactions</h2>
  </div>

  <div class="col-xs-6">
    <label for="tfilter">Filter</label>
    <input type="text" name="tfilter" class="form-control">
  </div>

</div>

<div class="row">

  <div class="col-xs-12">
    <table class = "table table-hover">
      <thead>
        <th>Date</th>
        <th>Symbol</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>